<div class="pagetitle">
    <h1>Chart.js</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Charts</li>
            <li class="breadcrumb-item active">Chart.js</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doughnut Chart</h5>
                    <!-- Doughnut Chart -->
                    <canvas id="doughnutChart" style="max-height: 500px;"></canvas>
                    <!-- End Doughnut CHart -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doughnut Chart</h5>
                    <!-- Doughnut Chart -->
                    <canvas id="stakedBarChart" style="max-height: 500px;"></canvas>
                    <!-- End Doughnut CHart -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doughnut Chart</h5>
                    <!-- Doughnut Chart -->
                    <canvas id="barChart" style="max-height: 500px;"></canvas>
                    <!-- End Doughnut CHart -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doughnut Chart</h5>
                    <!-- Doughnut Chart -->
                    <canvas id="pieChart" style="max-height: 500px;"></canvas>
                    <!-- End Doughnut CHart -->
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#doughnutChart'), {
            type: 'doughnut',
            data: {
                labels: [
                    'Red',
                    'Blue',
                    'Yellow'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#stakedBarChart'), {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Dataset 1',
                    data: [-75, -15, 18, 48, 74],
                    backgroundColor: 'rgb(255, 99, 132)',
                },
                {
                    label: 'Dataset 2',
                    data: [-11, -1, 12, 62, 95],
                    backgroundColor: 'rgb(75, 192, 192)',
                },
                {
                    label: 'Dataset 3',
                    data: [-44, -5, 22, 35, 62],
                    backgroundColor: 'rgb(255, 205, 86)',
                },
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart - Stacked'
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#pieChart'), {
            type: 'pie',
            data: {
                labels: [
                    'Red',
                    'Blue',
                    'Yellow'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        new Chart(document.querySelector('#barChart'), {
            type: 'bar',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Bar Chart',
                    data: [65, 59, 80, 81, 56, 55, 40],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>