<section class="section">
    <div class="card rounded">
        <div class="card-body">
            <h1>Material Requisition</h1>
            <br>
            <!-- Multi Columns Form -->
            <form [formGroup]="mainledgerform ">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Site Name</label>
                        <select style="border: solid 1px;" id="inputState" formControlName="site" class="form-select">
                            <option [selected]="true">...Select Sites..</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputName5" class="form-label">Date</label>
                        <input style="border: solid 1px;"type="date" formControlName="dates" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Select Stag</label>
                        <select style="border: solid 1px;" id="inputState" formControlName="stage" class="form-select">
                            <option [selected]="true">...Select Stage Name..</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Material Name</label>
                        <select style="border: solid 1px;" id="inputState" formControlName="material" class="form-select">
                            <option [selected]="true">...Select Name..</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputName5" class="form-label">Order Quantity</label>
                        <input style="border: solid 1px;"type="text" formControlName="order" class="form-control" id="inputName5">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Send To</label>
                        <select style="border: solid 1px;" id="inputState" formControlName="send" class="form-select">
                            <option [selected]="true">...Select Name..</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success" (click)="submit()">Save</button>&nbsp;
                    <button type="reset" class="btn btn-danger">Back</button>&nbsp;
                </div>
            </form><!-- End Multi Columns Form -->
           
        </div>
    </div>
</section>